body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    flex: 1;
    min-height: 100%; /* Set min-height to 100% */
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: auto;
}


.menu  a {
    text-decoration: none;
    border: 1px solid #000; /* Add a solid black border */
    padding: 5% 15%; /* Add padding for better visual appearance */
    display: block; /* Ensure the border surrounds the content */
    text-align:center;
    background-color: linen;

  }



.center-div {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    background-color: lightgray;
    text-align: center; /* Optional: center text horizontally */
    line-height: 200px; /* Optional: center text vertically */
  }

.Org-name
{
    font-family: "Lucida Console", "Courier New", monospace;
}


#language-selector {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.heading {
    color: rgb(0, 0, 0); /* Text color */
    font-size: 2em; /* Font size */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Bottom margin for spacing */
    background-color:  rgba(255, 255, 255, 0.8)
}
main
{
    background-color: rgb(104, 237, 247);
    background-size: cover;
}